.slider-wrapper{
    height: 100vh;
}

.slide{
    display: grid;
    background:linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url('../../../Assets/Header/girl-gb9f936f59_1920.jpg');
    background-size: cover;
}

.slide:nth-child(2){
    background:linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url('../../../Assets/Header/kittens-g00461e1d5_1920.jpg');
    background-size: cover;
}

.swiper-pagination-bullet-active{
    background: var(--primaryColor);
}

.hero-title{
    font-size: 3.5rem;
}

.highlight{
    color: var(--primaryColor);
}

.hero-btn{
    border: 2px solid var(--primaryColor);
    background-color: var(--primaryColor);
    transition: all 0.3s;
}

.hero-btn:hover{
    background-color: #fff;
    color: var(--primaryColor);
}