
:root{
  --primaryColor: #E5A62D;
}

@media screen and (max-width: 1280px) {
  html{
    font-size: 90%;
  }
}

@media screen and (max-width: 1024px) {
  html{
    font-size: 80%;
  }
}

@media screen and (max-width: 768px) {
  html{
    font-size: 70%;
  }
}

@media screen and (max-width: 640px) {
  html{
    font-size: 50%;
  }
}


.App {
  font-family: 'Open Sans', sans-serif;
  max-width: 1536px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.section-title{
  font-size: 2.7rem;
}

.section-decription{
  color: #444444;
}

.primary-btn{
  border: 2px solid var(--primaryColor);
  background-color: var(--primaryColor);
  transition: all 0.3s;
}

.primary-color{
  color: var(--primaryColor);
}

.input-focus{
  border: 1px solid #C4C4C4;
}

.input-focus:focus{
  border-color: var(--primaryColor);
}

.primary-btn:hover{
  background-color: #fff;
  color: var(--primaryColor);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
